# ETL

In [1]:
# ! pip install pyarrow

# Fetch data and data preparation

I chose data coming from credit card applications and records. The data is downloaded from Kaggle and can be found at https://www.kaggle.com/rikdifos/credit-card-approval-prediction

## <font>Download files</font>

<font color="red"> You must first install the Kaggle API CLI by running 'pip install kaggle' and also have the Kaggle credentials (kaggle.json) in the same folder of this NB</font>

In [2]:
# set up the Kaggle credentials
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

!pwd
# 
![ -f data/credit-card-approval-prediction.zip ] || pip install kaggle && cd data && kaggle datasets download rikdifos/credit-card-approval-prediction

!unzip -o data/credit-card-approval-prediction.zip -d data

kaggle.json
/Users/arosero/afroserom/coursera/IBM_advanced_DS
credit-card-approval-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  data/credit-card-approval-prediction.zip
  inflating: data/application_record.csv
  inflating: data/credit_record.csv

## Settings

In [3]:
%load_ext autoreload

In [4]:
%autoreload 2

In [5]:
import helpers.settings as sts
sts.print_settings(sts)

BEST_ESTIMATOR_FILENAME : best_estimator_0.0.1.pkl
DATASET_TRAIN_FILENAME : dataset_train.parquet
DATASET_VALIDATION_FILENAME : dataset_validation.parquet
ETL_VERSION : 0.0.1
MODEL_FILENAME : model.pkl
MODEL_VERSION : 0.0.1
PREPROCESSOR_FILENAME : preprocessor_0.0.1.pkl
TRAINED_BEST_ESTIMATOR_FILENAME : trained_best_estimator_0.0.1.pkl
color : <class 'helpers.settings.color'>
print_settings : <function print_settings at 0x7fe99b2e1280>

## Imports

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import RobustScaler, FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import (
    classification_report,
    plot_precision_recall_curve,
    precision_recall_curve,
    average_precision_score,
)
from xgboost import XGBClassifier
from category_encoders.woe import WOEEncoder
from sklearn.preprocessing import RobustScaler
import numpy as np
import seaborn as sns

## Format conversion

Convert to parquet format for more flexible usage

In [7]:
pd.read_csv("data/application_record.csv").to_parquet("data/application.parquet", index=False)
pd.read_csv("data/credit_record.csv").to_parquet("data/credit_record.parquet", index=False)

In [8]:
application = pd.read_parquet("data/application.parquet")
credit_record = pd.read_parquet("data/credit_record.parquet")

## Data sample

In [9]:
application.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [10]:
credit_record.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

## Creating label

### Month balance & status

Month balance: 

The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on

Status:

0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

<font color="red">I will assume that any overdue of 60 or more days corresponds to a default</font>

In [11]:
defaulted_user_ids = credit_record.query("STATUS not in ['0','1','C','X']")["ID"].unique()

In [12]:
credit_record_unique = credit_record.drop_duplicates(subset=["ID"],keep="last",ignore_index=True).copy()

In [13]:
credit_record_unique["LABEL"] = credit_record["ID"].apply(lambda x: 1 if x in defaulted_user_ids else 0)

In [14]:
credit_record_unique["LABEL"].value_counts(normalize=True)

0    0.988583
1    0.011417
Name: LABEL, dtype: float64

## Duplicates

In [15]:
len(application.ID.unique())

438510

In [16]:
application_duplicates = application[application.duplicated(subset=[col for col in application.columns if col != "ID"], keep=False)]
application_duplicates

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
5,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438550,6840100,F,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,None,1.0
438551,6840102,F,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,None,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,None,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [17]:
application_no_duplicates_first = application[~application.duplicated(subset=[col for col in application.columns if col != "ID"], keep="first")]
application_no_duplicates_first

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
7,5008812,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,None,1.0
10,5008815,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438541,6837707,M,N,Y,0,202500.0,Working,Higher education,Civil marriage,House / apartment,-13510,-2309,1,1,0,0,Laborers,2.0
438545,6839651,F,N,Y,3,99000.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,-18832,365243,1,0,0,0,None,1.0
438547,6839917,F,N,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-10966,-2704,1,0,0,0,None,2.0
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,None,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0

In [18]:
len(application_no_duplicates_first.ID.unique())

90085

In [19]:
len(credit_record["ID"].unique())

45985

In [20]:
len(set(application_no_duplicates_first.ID).intersection(set(credit_record.ID)))

9709

In [21]:
duplicate_id_groups = pd.DataFrame(application.groupby(by=[col for col in application.columns if col != "ID"])["ID"].apply(lambda x: list(np.unique(x))).reset_index(drop=True))

In [22]:
duplicate_id_groups

                                                      ID
0                                     [6231976, 6231977]
1                            [5126174, 5126175, 5995345]
2                            [6618535, 6690062, 6690063]
3                                              [6722801]
4                                     [5771303, 5771305]
...                                                  ...
62603  [5135534, 5135535, 5135536, 5135537, 5135538, ...
62604  [5949365, 5949366, 5949368, 5949369, 5949370, ...
62605  [6272384, 6471231, 6471232, 6471233, 6471234, ...
62606  [5342630, 5342633, 5342634, 5342635, 5342637, ...
62607                        [5061207, 5061210, 5061211]

[62608 rows x 1 columns]

In [23]:
pd.options.display.max_rows = 1000

In [24]:
credit_record.query(f'ID in [5135534, 5135535, 5135536, 5135537, 5135538]').sort_values(["ID","MONTHS_BALANCE"], ascending=False)

             ID  MONTHS_BALANCE STATUS
945201  5135538               0      X
945202  5135538              -1      X
945203  5135538              -2      X
945204  5135538              -3      X
945205  5135538              -4      X
945206  5135538              -5      X
945207  5135538              -6      X
945208  5135538              -7      X
945209  5135538              -8      X
945210  5135538              -9      X
945211  5135538             -10      X
945212  5135538             -11      X
945213  5135538             -12      X
945214  5135538             -13      X
945215  5135538             -14      X
945216  5135538             -15      X
945217  5135538             -16      X
945218  5135538             -17      X
945219  5135538             -18      X
945220  5135538             -19      X
945221  5135538             -20      X
945222  5135538             -21      X
945223  5135538             -22      X
945224  5135538             -23      X
945225  5135538             -24      X
945226  5135538             -25      X
945227  5135538             -26      X
945179  5135537             -25      X
945180  5135537             -26      X
945181  5135537             -27      X
945182  5135537             -28      X
945183  5135537             -29      X
945184  5135537             -30      X
945185  5135537             -31      X
945186  5135537             -32      X
945187  5135537             -33      X
945188  5135537             -34      X
945189  5135537             -35      X
945190  5135537             -36      X
945191  5135537             -37      X
945192  5135537             -38      X
945193  5135537             -39      X
945194  5135537             -40      X
945195  5135537             -41      X
945196  5135537             -42      X
945197  5135537             -43      X
945198  5135537             -44      X
945199  5135537             -45      X
945200  5135537             -46      X
945176  5135536             -35      X
945177  5135536             -36      0
945178  5135536             -37      0
945138  5135535             -18      X
945139  5135535             -19      X
945140  5135535             -20      X
945141  5135535             -21      X
945142  5135535             -22      X
945143  5135535             -23      X
945144  5135535             -24      X
945145  5135535             -25      X
945146  5135535             -26      X
945147  5135535             -27      X
945148  5135535             -28      X
945149  5135535             -29      X
945150  5135535             -30      X
945151  5135535             -31      X
945152  5135535             -32      X
945153  5135535             -33      X
945154  5135535             -34      X
945155  5135535             -35      X
945156  5135535             -36      X
945157  5135535             -37      X
945158  5135535             -38      X
945159  5135535             -39      X
945160  5135535             -40      X
945161  5135535             -41      X
945162  5135535             -42      X
945163  5135535             -43      X
945164  5135535             -44      X
945165  5135535             -45      X
945166  5135535             -46      X
945167  5135535             -47      X
945168  5135535             -48      X
945169  5135535             -49      X
945170  5135535             -50      X
945171  5135535             -51      X
945172  5135535             -52      X
945173  5135535             -53      X
945174  5135535             -54      X
945175  5135535             -55      X
945135  5135534             -19      X
945136  5135534             -20      0
945137  5135534             -21      X

In [25]:
credit_record.query(f'ID in [5061207, 5061210, 5061211]').sort_values(["ID","MONTHS_BALANCE"], ascending=False)

             ID  MONTHS_BALANCE STATUS
505528  5061211               0      0
505529  5061211              -1      0
505530  5061211              -2      0
505531  5061211              -3      0
505532  5061211              -4      1
505533  5061211              -5      1
505534  5061211              -6      0
505535  5061211              -7      0
505536  5061211              -8      0
505537  5061211              -9      0
505538  5061211             -10      0
505539  5061211             -11      0
505540  5061211             -12      0
505541  5061211             -13      0
505542  5061211             -14      0
505543  5061211             -15      0
505544  5061211             -16      0
505545  5061211             -17      0
505546  5061211             -18      0
505547  5061211             -19      0
505548  5061211             -20      0
505549  5061211             -21      0
505550  5061211             -22      0
505551  5061211             -23      0
505552  5061211             -24      0
505553  5061211             -25      0
505554  5061211             -26      0
505555  5061211             -27      0
505556  5061211             -28      0
505557  5061211             -29      1
505558  5061211             -30      0
505559  5061211             -31      0
505560  5061211             -32      0
505561  5061211             -33      0
505562  5061211             -34      0
505563  5061211             -35      0
505564  5061211             -36      0
505565  5061211             -37      0
505566  5061211             -38      0
505567  5061211             -39      0
505568  5061211             -40      0
505569  5061211             -41      0
505570  5061211             -42      0
505571  5061211             -43      0
505520  5061210               0      0
505521  5061210              -1      0
505522  5061210              -2      0
505523  5061210              -3      1
505524  5061210              -4      0
505525  5061210              -5      0
505526  5061210              -6      1
505527  5061210              -7      0
505461  5061207               0      0
505462  5061207              -1      0
505463  5061207              -2      0
505464  5061207              -3      0
505465  5061207              -4      0
505466  5061207              -5      0
505467  5061207              -6      X
505468  5061207              -7      0
505469  5061207              -8      X
505470  5061207              -9      0
505471  5061207             -10      X
505472  5061207             -11      0
505473  5061207             -12      X
505474  5061207             -13      0
505475  5061207             -14      X
505476  5061207             -15      0
505477  5061207             -16      0
505478  5061207             -17      0
505479  5061207             -18      X
505480  5061207             -19      0
505481  5061207             -20      0
505482  5061207             -21      0
505483  5061207             -22      X
505484  5061207             -23      0
505485  5061207             -24      0
505486  5061207             -25      0
505487  5061207             -26      X
505488  5061207             -27      X
505489  5061207             -28      0
505490  5061207             -29      0
505491  5061207             -30      0
505492  5061207             -31      0
505493  5061207             -32      0
505494  5061207             -33      0
505495  5061207             -34      0
505496  5061207             -35      0
505497  5061207             -36      0
505498  5061207             -37      X
505499  5061207             -38      0
505500  5061207             -39      X
505501  5061207             -40      0
505502  5061207             -41      X
505503  5061207             -42      X
505504  5061207             -43      X
505505  5061207             -44      X
505506  5061207             -45      0
505507  5061207             -46      0
505508  5061207             -47      X
505509  5061207             -48      0
505510  5061207             -49      0
505511  5061207             -50      0
505512  5061207             -51      X
505513  5061207             -52      X
505514  5061207             -53      X
505515  5061207             -54      X
505516  5061207             -55      X
505517  5061207             -56      X
505518  5061207             -57      X
505519  5061207             -58      X

### Merge applications with credit records

In [26]:
df = application.merge(credit_record_unique[["ID","LABEL"]], how="inner", on="ID")

### Drop duplicates

In [27]:
df.drop_duplicates(subset=["ID"], keep="first", inplace=True)

In [28]:
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,LABEL
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0

In [29]:
df["duplicated"] = df[[col for col in df.columns if col != "ID"]].duplicated()

In [30]:
df.head(100)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,LABEL,duplicated
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0,False
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0,True
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,0,False
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0,False
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0,True
5,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0,True
6,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0,True
7,5008812,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,None,1.0,0,False
8,5008813,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,None,1.0,0,True
9,5008814,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,None,1.0,0,True
10,5008815,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0,0,False
11,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0,0,True
12,5008819,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,False
13,5008820,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,True
14,5008821,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,True
15,5008822,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,True
16,5008823,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,True
17,5008824,M,Y,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17778,-1194,1,0,0,0,Laborers,2.0,0,True
18,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669,-1103,1,0,0,0,Accountants,2.0,0,False
19,5008826,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669,-1103,1,0,0,0,Accountants,2.0,0,True
20,5008830,F,N,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-10031,-1469,1,0,1,0,Laborers,2.0,0,False
21,5008831,F,N,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-10031,-1469,1,0,1,0,Laborers,2.0,0,True
22,5008832,F,N,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-10031,-1469,1,0,1,0,Laborers,2.0,0,True
23,5008834,F,N,Y,1,112500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-10968,-1620,1,0,0,0,None,2.0,0,False
24,5008835,F,N,Y,1,112500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-10968,-1620,1,0,0,0,None,2.0,0,True
25,5008836,M,Y,Y,3,270000.0,Working,Secondary / secondary special,Married,House / apartment,-12689,-1163,1,0,0,0,Laborers,5.0,0,False
26,5008837,M,Y,Y,3,270000.0,Working,Secondary / secondary special,Married,House / apartment,-12689,-1163,1,0,0,0,Laborers,5.0,0,True
27,5008838,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,False
28,5008839,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,True
29,5008840,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,True
30,5008841,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,True
31,5008842,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,True
32,5008843,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,-11842,-2016,1,0,0,0,Managers,3.0,0,True
33,5008844,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,False
34,5008846,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
35,5008847,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
36,5008849,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
37,5008850,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
38,5008851,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
39,5008852,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
40,5008853,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-20502,-4450,1,0,1,0,Drivers,2.0,0,True
41,5008854,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,False
42,5008855,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
43,5008856,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
44,5008857,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
45,5008858,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
46,5008859,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
47,5008860,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
48,5008861,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
49,5008862,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
50,5008863,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
51,5008864,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
52,5008865,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
53,5008866,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
54,5008867,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
55,5112846,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761,-3173,1,0,0,0,Laborers,4.0,0,True
56,5008868,F,N,Y,1,211500.0,State servant,Secondary / secondary special,Civil marriage,House / apartment,-16212,-7099,1,0,0,0,Core staff,3.0,0,False
57,5008870,F,N,Y,1,211500.0,State servant,Secondary / secondary special,Civil marriage,House / apartment,-16212,-7099,1,0,0,0,Core staff,3.0,0,True
58,5008872,M,Y,Y,0,360000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-16670,-5364,1,0,1,0,Security staff,2.0,0,False
59,5008873,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,False
60,5008874,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
61,5008875,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
62,5008876,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
63,5008877,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
64,5008878,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
65,5008879,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
66,5008880,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
67,5008881,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
68,5008882,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,-12411,-1773,1,0,0,1,Managers,4.0,0,True
69,5008884,F,N,Y,0,315000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-20186,365243,1,0,0,0,None,1.0,0,False
70,5008888,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016,-1347,1,0,0,0,Core staff,1.0,0,False
71,5008889,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016,-1347,1,0,0,0,Core staff,1.0,0,True
72,5008890,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016,-1347,1,0,0,0,Core staff,1.0,0,True
73,5112847,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016,-1347,1,0,0,0,Core staff,1.0,0,True
74,5008891,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,False
75,5008892,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
76,5008893,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
77,5008894,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
78,5008895,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
79,5008896,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
80,5008897,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
81,5008898,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
82,5008899,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
83,5008900,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
84,5008901,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
85,5008902,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
86,5008903,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
87,5008904,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
88,5008905,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
89,5008906,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
90,5008907,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
91,5008908,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
92,5008909,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
93,5008910,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
94,5008911,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
95,5008912,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
96,5008913,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
97,5008914,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
98,5008915,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True
99,5008916,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,-15519,-3234,1,0,0,0,Laborers,1.0,0,True

In [31]:
application[[col for col in application.columns if col != "ID"]].duplicated().sum()

348472

## Split datasets

In [32]:
X = df.iloc[:,1:-1] 
y = df.iloc[:,-1]

In [33]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.15, random_state=42)

In [34]:
y_train.value_counts(normalize=True)

True     0.732187
False    0.267813
Name: duplicated, dtype: float64

## Dump datasets

In [35]:
pd.concat([X_train, y_train], axis=1).to_parquet(f"data/{sts.DATASET_TRAIN_FILENAME}", index=False)
pd.concat([X_test, y_test], axis=1).to_parquet(f"data/{sts.DATASET_VALIDATION_FILENAME}", index=False)